<%- include('header.html') -%>

<!-- ======================================================================= -->

    <h1>App Homepage</h1>

    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore nam eos obcaecati ea esse, et adipisci quaerat nulla temporibus odit! Aliquam iusto quis, mollitia natus omnis iste cumque accusamus expedita?</p>


    <ul>
        <% for (let fruit of fruits) { %>
        <li><%= fruit %></li>
        <% } %>
    </ul>

    
    <ul>
        <% for (let character of characters) { %>
        <li><%= character.name %></li>
        <% } %>
    </ul>

<!-- ======================================================================= -->

<%- include('footer.html') -%>